.head {
    background-color: rgb(88, 88, 88);
    color: white;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1rem 2rem;
}

.field {
    label {
        color: rgb(252, 255, 50);
    }
}

.modal {
    color: black;
}

.logo {
    width: 5rem;
    vertical-align: middle;
    line-height: 6rem;
}

h1 {
    font-weight: bold;
}

.user-auth {
    position: relative;
    display: inline;
    margin-left: auto;
    align-self: center;
    text-align: center;

    .btn {
        height: 2.4rem;
        width: 8.5rem;
    }

    .btn-account {
        display: inline-block;
        margin: auto;

        &:hover, &:active {
            background-color: rgb(121, 121, 121);
            color: white;
        }
    }

    .btn-light {
        margin-left: 0;
        margin-top: .5rem;
    }

    // span.btn-light {
    //     display: inline-block;

    //     &:hover {
    //         border: 1px solid white;
    //         color: inherit;
    //         background-color: rgb(121, 121, 121);
    //         color: white;

    //         a {
    //             color: white;
    //         }
    //     }
    // }
}

.dropdown-settings {
    position: absolute;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 6rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

.btn-account {
    background-color: white;
    color: black;
}

img {
    max-width: 100%;
}

@media(min-width: 40rem) {

    .logo {
        width: 2rem;
        vertical-align: auto;
        line-height: 3rem;
    }

    .user-auth {
        .btn-light {
            margin-left: .4rem;
            margin-top: 0;
        }
    }
}